{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://app.launchdarkly.com/api/v2"
        }
    ],
    "info": {
        "contact": {
            "email": "support@launchdarkly.com",
            "name": "LaunchDarkly Support",
            "url": "https://support.launchdarkly.com",
            "x-twitter": "launchdarkly"
        },
        "description": "Build custom integrations with the LaunchDarkly REST API",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "termsOfService": "https://launchdarkly.com/terms",
        "title": "LaunchDarkly",
        "version": "2.0.5",
        "x-apisguru-categories": [
            "developer_tools"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_launchdarkly_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://launchdarkly.github.io/ld-openapi/swagger.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "launchdarkly.com"
    },
    "security": [
        {
            "Token": []
        }
    ],
    "paths": {
        "/": {
            "get": {
                "description": "You can issue a GET request to the root resource to find all of the resource categories supported by the API.",
                "operationId": "getRoot",
                "responses": {
                    "200": {
                        "description": "A list of links to available resources in the API.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "next": {
                                            "properties": {
                                                "href": {
                                                    "example": "/api/v2/endpoint",
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "example": "application/json",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "self": {
                                            "properties": {
                                                "href": {
                                                    "example": "/api/v2/endpoint",
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "example": "application/json",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid access token."
                    }
                },
                "tags": [
                    "Root"
                ]
            }
        },
        "/auditlog": {
            "get": {
                "operationId": "getAuditLogEntries",
                "parameters": [
                    {
                        "description": "A timestamp filter, expressed as a Unix epoch time in milliseconds. All entries returned will have before this timestamp.",
                        "in": "query",
                        "name": "before",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "description": "A timestamp filter, expressed as a Unix epoch time in milliseconds. All entries returned will have occured after this timestamp.",
                        "in": "query",
                        "name": "after",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "Text to search for. You can search for the full or partial name of the resource involved or fullpartial email address of the member who made the change.",
                        "in": "query",
                        "name": "q",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "A limit on the number of audit log entries to be returned, between 1 and 20.",
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "description": "A resource specifier, allowing you to filter audit log listings by resource.",
                        "in": "query",
                        "name": "spec",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Audit log entries response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "properties": {
                                                "next": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "items": {
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "description": "The unique resource id.",
                                                        "example": "5a580a01b4ff89217bdf9dc1",
                                                        "type": "string"
                                                    },
                                                    "_links": {
                                                        "properties": {
                                                            "next": {
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "/api/v2/endpoint",
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "example": "application/json",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "self": {
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "/api/v2/endpoint",
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "example": "application/json",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "comment": {
                                                        "example": "This is a comment string",
                                                        "type": "string"
                                                    },
                                                    "date": {
                                                        "example": 1472243938774,
                                                        "format": "int64",
                                                        "type": "integer"
                                                    },
                                                    "description": {
                                                        "example": "Changed the name from Test to Testing",
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "example": "environment",
                                                        "type": "string"
                                                    },
                                                    "member": {
                                                        "properties": {
                                                            "_id": {
                                                                "description": "The unique resource id.",
                                                                "example": "5a580a01b4ff89217bdf9dc1",
                                                                "type": "string"
                                                            },
                                                            "_links": {
                                                                "properties": {
                                                                    "next": {
                                                                        "properties": {
                                                                            "href": {
                                                                                "example": "/api/v2/endpoint",
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "example": "application/json",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "self": {
                                                                        "properties": {
                                                                            "href": {
                                                                                "example": "/api/v2/endpoint",
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "example": "application/json",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "_pendingInvite": {
                                                                "type": "boolean"
                                                            },
                                                            "customRoles": {
                                                                "items": {
                                                                    "description": "The unique resource id.",
                                                                    "example": "5a580a01b4ff89217bdf9dc1",
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "email": {
                                                                "example": "user@launchdarkly.com",
                                                                "type": "string"
                                                            },
                                                            "isBeta": {
                                                                "type": "boolean"
                                                            },
                                                            "role": {
                                                                "enum": [
                                                                    "writer",
                                                                    "reader",
                                                                    "admin",
                                                                    "owner"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "example": "Testing",
                                                        "type": "string"
                                                    },
                                                    "shortDescription": {
                                                        "example": "\"\"",
                                                        "type": "string"
                                                    },
                                                    "target": {
                                                        "properties": {
                                                            "_links": {
                                                                "properties": {
                                                                    "next": {
                                                                        "properties": {
                                                                            "href": {
                                                                                "example": "/api/v2/endpoint",
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "example": "application/json",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "self": {
                                                                        "properties": {
                                                                            "href": {
                                                                                "example": "/api/v2/endpoint",
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "example": "application/json",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "name": {
                                                                "example": "Testing",
                                                                "type": "string"
                                                            },
                                                            "resources": {
                                                                "items": {
                                                                    "example": "proj/alexis:env/test",
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "title": {
                                                        "example": "[Reese Applebaum](mailto:refapp@launchdarkly.com) changed the name of [Testing](https://app.launchdarkly.com/settings#/projects)",
                                                        "type": "string"
                                                    },
                                                    "titleVerb": {
                                                        "example": "changed the name of",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request body."
                    },
                    "401": {
                        "description": "Invalid access token."
                    }
                },
                "summary": "Get a list of all audit log entries. The query parameters allow you to restrict the returned results by date ranges, resource specifiers, or a full-text search query.",
                "tags": [
                    "Audit log"
                ]
            }
        },
        "/auditlog/{resourceId}": {
            "get": {
                "operationId": "getAuditLogEntry",
                "parameters": [
                    {
                        "description": "The resource ID.",
                        "in": "path",
                        "name": "resourceId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Audit log entry response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "description": "The unique resource id.",
                                            "example": "5a580a01b4ff89217bdf9dc1",
                                            "type": "string"
                                        },
                                        "_links": {
                                            "properties": {
                                                "next": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "comment": {
                                            "example": "This is a comment string",
                                            "type": "string"
                                        },
                                        "date": {
                                            "example": 1472243938774,
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "description": {
                                            "example": "Changed the name from Test to Testing",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "example": "environment",
                                            "type": "string"
                                        },
                                        "member": {
                                            "properties": {
                                                "_id": {
                                                    "description": "The unique resource id.",
                                                    "example": "5a580a01b4ff89217bdf9dc1",
                                                    "type": "string"
                                                },
                                                "_links": {
                                                    "properties": {
                                                        "next": {
                                                            "properties": {
                                                                "href": {
                                                                    "example": "/api/v2/endpoint",
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "example": "application/json",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "self": {
                                                            "properties": {
                                                                "href": {
                                                                    "example": "/api/v2/endpoint",
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "example": "application/json",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "_pendingInvite": {
                                                    "type": "boolean"
                                                },
                                                "customRoles": {
                                                    "items": {
                                                        "description": "The unique resource id.",
                                                        "example": "5a580a01b4ff89217bdf9dc1",
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "email": {
                                                    "example": "user@launchdarkly.com",
                                                    "type": "string"
                                                },
                                                "isBeta": {
                                                    "type": "boolean"
                                                },
                                                "role": {
                                                    "enum": [
                                                        "writer",
                                                        "reader",
                                                        "admin",
                                                        "owner"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "example": "Testing",
                                            "type": "string"
                                        },
                                        "shortDescription": {
                                            "example": "\"\"",
                                            "type": "string"
                                        },
                                        "target": {
                                            "properties": {
                                                "_links": {
                                                    "properties": {
                                                        "next": {
                                                            "properties": {
                                                                "href": {
                                                                    "example": "/api/v2/endpoint",
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "example": "application/json",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "self": {
                                                            "properties": {
                                                                "href": {
                                                                    "example": "/api/v2/endpoint",
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "example": "application/json",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "name": {
                                                    "example": "Testing",
                                                    "type": "string"
                                                },
                                                "resources": {
                                                    "items": {
                                                        "example": "proj/alexis:env/test",
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "title": {
                                            "example": "[Reese Applebaum](mailto:refapp@launchdarkly.com) changed the name of [Testing](https://app.launchdarkly.com/settings#/projects)",
                                            "type": "string"
                                        },
                                        "titleVerb": {
                                            "example": "changed the name of",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid access token."
                    },
                    "404": {
                        "description": "Invalid resource specifier."
                    }
                },
                "summary": "Use this endpoint to fetch a single audit log entry by its resouce ID.",
                "tags": [
                    "Audit log"
                ]
            }
        },
        "/flag-statuses/{projectKey}/{environmentKey}": {
            "get": {
                "operationId": "getFeatureFlagStatuses",
                "parameters": [
                    {
                        "description": "The project key, used to tie the flags together under one project so they can be managed together.",
                        "in": "path",
                        "name": "projectKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
                        "in": "path",
                        "name": "environmentKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of feature flag statuses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "properties": {
                                                "next": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "items": {
                                            "items": {
                                                "properties": {
                                                    "_links": {
                                                        "properties": {
                                                            "next": {
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "/api/v2/endpoint",
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "example": "application/json",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "self": {
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "/api/v2/endpoint",
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "example": "application/json",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "default": {
                                                        "type": "object"
                                                    },
                                                    "lastRequested": {
                                                        "example": "2016-08-16T21:10:11.886Z",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "| Name     | Description |\n| --------:| ----------- |\n| new      | the feature flag was created within the last 7 days, and has not been requested yet |\n| active   | the feature flag was requested by your servers or clients within the last 7 days |\n| inactive | the feature flag was created more than 7 days ago, and hasn't been requested by your servers or clients within the past 7 days |\n| launched | one variation of the feature flag has been rolled out to all your users for at least 7 days |\n",
                                                        "enum": [
                                                            "new",
                                                            "active",
                                                            "inactive",
                                                            "launched"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid access token."
                    }
                },
                "summary": "Get a list of statuses for all feature flags. The status includes the last time the feature flag was requested, as well as the state of the flag.",
                "tags": [
                    "Feature flags"
                ]
            }
        },
        "/flag-statuses/{projectKey}/{environmentKey}/{featureFlagKey}": {
            "get": {
                "operationId": "getFeatureFlagStatus",
                "parameters": [
                    {
                        "description": "The project key, used to tie the flags together under one project so they can be managed together.",
                        "in": "path",
                        "name": "projectKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The environment key, used to tie together flag configuration and users under one environment so they can be managed together.",
                        "in": "path",
                        "name": "environmentKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The feature flag's key. The key identifies the flag in your code.",
                        "in": "path",
                        "name": "featureFlagKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status of the requested feature flag.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "properties": {
                                                "next": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "default": {
                                            "type": "object"
                                        },
                                        "lastRequested": {
                                            "example": "2016-08-16T21:10:11.886Z",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "| Name     | Description |\n| --------:| ----------- |\n| new      | the feature flag was created within the last 7 days, and has not been requested yet |\n| active   | the feature flag was requested by your servers or clients within the last 7 days |\n| inactive | the feature flag was created more than 7 days ago, and hasn't been requested by your servers or clients within the past 7 days |\n| launched | one variation of the feature flag has been rolled out to all your users for at least 7 days |\n",
                                            "enum": [
                                                "new",
                                                "active",
                                                "inactive",
                                                "launched"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid access token."
                    }
                },
                "summary": "Get the status for a particular feature flag.",
                "tags": [
                    "Feature flags"
                ]
            }
        },
        "/flags/{projectKey}": {
            "get": {
                "operationId": "getFeatureFlags",
                "parameters": [
                    {
                        "description": "The project key, used to tie the flags together under one project so they can be managed together.",
                        "in": "path",
                        "name": "projectKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "By default, each feature will include configurations for each environment. You can filter environments with the env query parameter. For example, setting env=production will restrict the returned configurations to just your production environment.",
                        "in": "query",
                        "name": "env",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter by tag. A tag can be used to group flags across projects.",
                        "in": "query",
                        "name": "tag",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Flags response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "properties": {
                                                "next": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "items": {
                                            "items": {
                                                "properties": {
                                                    "_links": {
                                                        "properties": {
                                                            "next": {
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "/api/v2/endpoint",
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "example": "application/json",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "self": {
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "/api/v2/endpoint",
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "example": "application/json",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "_maintainer": {
                                                        "properties": {
                                                            "_id": {
                                                                "description": "The unique resource id.",
                                                                "example": "5a580a01b4ff89217bdf9dc1",
                                                                "type": "string"
                                                            },
                                                            "_links": {
                                                                "properties": {
                                                                    "next": {
                                                                        "properties": {
                                                                            "href": {
                                                                                "example": "/api/v2/endpoint",
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "example": "application/json",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "self": {
                                                                        "properties": {
                                                                            "href": {
                                                                                "example": "/api/v2/endpoint",
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "example": "application/json",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "_pendingInvite": {
                                                                "type": "boolean"
                                                            },
                                                            "customRoles": {
                                                                "items": {
                                                                    "description": "The unique resource id.",
                                                                    "example": "5a580a01b4ff89217bdf9dc1",
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "email": {
                                                                "example": "user@launchdarkly.com",
                                                                "type": "string"
                                                            },
                                                            "isBeta": {
                                                                "type": "boolean"
                                                            },
                                                            "role": {
                                                                "enum": [
                                                                    "writer",
                                                                    "reader",
                                                                    "admin",
                                                                    "owner"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "creationDate": {
                                                        "description": "A unix epoch time in milliseconds specifying the creation time of this flag.",
                                                        "example": 1443652232590,
                                                        "format": "int64",
                                                        "type": "number"
                                                    },
                                                    "description": {
                                                        "description": "Description of the feature flag.",
                                                        "example": "This flag controls whether test feature is turned on or not.",
                                                        "type": "string"
                                                    },
                                                    "environments": {
                                                        "additionalProperties": {
                                                            "properties": {
                                                                "archived": {
                                                                    "type": "boolean"
                                                                },
                                                                "fallthrough": {
                                                                    "properties": {
                                                                        "rollout": {
                                                                            "properties": {
                                                                                "variations": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "variation": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "weight": {
                                                                                                "type": "integer"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "variation": {
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "lastModified": {
                                                                    "example": 1469326565348,
                                                                    "format": "int64",
                                                                    "type": "integer"
                                                                },
                                                                "offVariation": {
                                                                    "type": "integer"
                                                                },
                                                                "on": {
                                                                    "type": "boolean"
                                                                },
                                                                "prerequisites": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "key": {
                                                                                "type": "string"
                                                                            },
                                                                            "variation": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "rules": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "clauses": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "attribute": {
                                                                                            "example": "groups",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "negate": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "op": {
                                                                                            "example": "in",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "values": {
                                                                                            "items": {
                                                                                                "example": "Top Customers",
                                                                                                "type": "object"
                                                                                            },
                                                                                            "type": "array"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "rollout": {
                                                                                "properties": {
                                                                                    "variations": {
                                                                                        "items": {
                                                                                            "properties": {
                                                                                                "variation": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "weight": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "type": "array"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "variation": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "salt": {
                                                                    "example": "YWx0ZXJuYXRlLnBhZ2U=",
                                                                    "type": "string"
                                                                },
                                                                "sel": {
                                                                    "example": "45501b9314dc4641841af774cb038b96",
                                                                    "type": "string"
                                                                },
                                                                "targets": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "values": {
                                                                                "items": {
                                                                                    "example": "\"1461797806427-7-115540266\", \"00142875-a39d-4028-a3b7-987ccd151649\"",
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "variation": {
                                                                                "type": "integer"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "trackEvents": {
                                                                    "description": "Set to true to send detailed event information for this flag.",
                                                                    "example": false,
                                                                    "type": "boolean"
                                                                },
                                                                "version": {
                                                                    "example": 65,
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "object"
                                                    },
                                                    "includeInSnippet": {
                                                        "example": false,
                                                        "type": "boolean"
                                                    },
                                                    "key": {
                                                        "example": "test-feature",
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "description": "Whether the feature flag is a boolean flag or multivariate.",
                                                        "example": "boolean",
                                                        "type": "string"
                                                    },
                                                    "maintainerId": {
                                                        "description": "The ID of the member that should maintain this flag.",
                                                        "example": "561c579cd8fd5c2704000001",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Name of the feature flag.",
                                                        "example": "Test Feature",
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "description": "An array of tags for this feature flag.",
                                                        "example": "[]",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "temporary": {
                                                        "description": "Whether or not this flag is temporary.",
                                                        "example": false,
                                                        "type": "boolean"
                                                    },
                                                    "variations": {
                                                        "description": "The variations for this feature flag.",
                                                        "example": "[ { \"value\": \"a\" }, { \"value\": \"b\" } ]",
                                                        "items": {
                                                            "properties": {
                                                                "description": {
                                                                    "example": "The true variation",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "example": "True",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "required": [
                                                                "value"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid access token."
                    }
                },
                "summary": "Get a list of all features in the given project.",
                "tags": [
                    "Feature flags"
                ]
            },
            "post": {
                "operationId": "postFeatureFlag",
                "parameters": [
                    {
                        "description": "The project key, used to tie the flags together under one project so they can be managed together.",
                        "in": "path",
                        "name": "projectKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Resource created."
                    },
                    "400": {
                        "description": "Invalid request body."
                    },
                    "401": {
                        "description": "Invalid access token."
                    },
                    "409": {
                        "description": "Status conflict."
                    }
                },
                "summary": "Creates a new feature flag.",
                "tags": [
                    "Feature flags"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "includeInSnippet": {
                                        "description": "Whether or not this flag should be made available to the client-side JavaScript SDK.",
                                        "type": "boolean"
                                    },
                                    "key": {
                                        "description": "A unique key that will be used to reference the flag in your code.",
                                        "example": "new-test-flag",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "A human-friendly name for the feature flag. Remember to note if this flag is intended to be temporary or permanent.",
                                        "example": "new test flag",
                                        "type": "string"
                                    },
                                    "tags": {
                                        "description": "Tags for the feature flag.",
                                        "items": {
                                            "example": "[]",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "temporary": {
                                        "description": "Whether or not the flag is a temporary flag.",
                                        "type": "boolean"
                                    },
                                    "variations": {
                                        "description": "An array of possible variations for the flag.",
                                        "items": {
                                            "properties": {
                                                "description": {
                                                    "example": "The true variation",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "True",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "value"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "name",
                                    "key",
                                    "variations"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Create a new feature flag.",
                    "required": true
                }
            }
        },
        "/flags/{projectKey}/{featureFlagKey}": {
            "delete": {
                "operationId": "deleteFeatureFlag",
                "parameters": [
                    {
                        "description": "The project key, used to tie the flags together under one project so they can be managed together.",
                        "in": "path",
                        "name": "projectKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The feature flag's key. The key identifies the flag in your code.",
                        "in": "path",
                        "name": "featureFlagKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Action completed successfully."
                    },
                    "401": {
                        "description": "Invalid access token."
                    },
                    "404": {
                        "description": "Invalid resource specifier."
                    }
                },
                "summary": "Delete a feature flag in all environments. Be careful-- only delete feature flags that are no longer being used by your application.",
                "tags": [
                    "Feature flags"
                ]
            },
            "get": {
                "operationId": "getFeatureFlag",
                "parameters": [
                    {
                        "description": "The project key, used to tie the flags together under one project so they can be managed together.",
                        "in": "path",
                        "name": "projectKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The feature flag's key. The key identifies the flag in your code.",
                        "in": "path",
                        "name": "featureFlagKey",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "By default, each feature will include configurations for each environment. You can filter environments with the env query parameter. For example, setting env=production will restrict the returned configurations to just your production environment.",
                        "in": "query",
                        "name": "env",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Flag response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "properties": {
                                                "next": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "properties": {
                                                        "href": {
                                                            "example": "/api/v2/endpoint",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "application/json",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "_maintainer": {
                                            "properties": {
                                                "_id": {
                                                    "description": "The unique resource id.",
                                                    "example": "5a580a01b4ff89217bdf9dc1",
                                                    "type": "string"
                                                },
                                                "_links": {
                                                    "properties": {
                                                        "next": {
                                                            "properties": {
                                                                "href": {
                                                                    "example": "/api/v2/endpoint",
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "example": "application/json",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "self": {
                                                            "properties": {
                                                                "href": {
                                                                    "example": "/api/v2/endpoint",
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "example": "application/json",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "_pendingInvite": {
                                                    "type": "boolean"
                                                },
                                                "customRoles": {
                                                    "items": {
                                                        "description": "The unique resource id.",
                                                        "example": "5a580a01b4ff89217bdf9dc1",
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "email": {
                                                    "example": "user@launchdarkly.com",
                                                    "type": "string"
                                                },
                                                "isBeta": {
                                                    "type": "boolean"
                                                },
                                                "role": {
                                                    "enum": [
                                                        "writer",
                                                        "reader",
                                                        "admin",
                                                        "owner"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "creationDate": {
                                            "description": "A unix epoch time in milliseconds specifying the creation time of this flag.",
                                            "example": 1443652232590,
                                            "format": "int64",
                                            "type": "number"
                                        },
                                        "description": {
                                            "description": "Description of the feature flag.",
[...]
